/* variables */
:root {
    --background-color: #8cdad4;
    --main-color: #fff;
    --sec-color: #ec5353;
}

/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */

body{
    background-color: var(--background-color);
}

.section-text{
    color: var(--sec-color);
    font-family: 'Lexend Deca', sans-serif;
}

.hover-anim:hover{ 
    border-left: var(--sec-color) 0.5rem solid;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-anim-2:hover{
    box-shadow: 0.1rem 0.2rem var(--sec-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* HEADER */

.main-header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lexend Mega', sans-serif;
    color: var(--main-color);
    margin: 0 3rem;
}

.brand-name{
    font-size: 1.5rem;
}

.hd-icons{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.hd-icons i{
    font-size: 1.4rem;
}

.hd-icons a{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--sec-color);
    padding: 5px;
    margin-left: 1rem;
    text-decoration: none;
}

.hd-icons .section-text{
    padding-left: 0.5rem;
}

.hd-icons a:visited{
    color: var(--sec-color);
}

/* SECTION */

.main-section{
    display: flex;
    height: 80vh;
    align-items: center;
    margin: 0 3rem;
}

.div-left{
    background-color: var(--main-color);
    width: 40vw;
    height: 20rem;
}

.div-left img{
    max-width: 100%;
    height: 100%;
}

.div-right{
    width: 60vw;
    height: 20rem;
}

/* SECTION icons */

.icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    font-size: 1.3rem;
}

.icons i{
    padding: 3px;
}

.icons .fa-github{
    padding-right: 1rem;
}

.icons .fa-linkedin{
    padding-right: 1.2rem;
}

.icons .fa-twitter{
    padding-right: 0.9rem;
}

.icons .fa-deviantart{
    padding-right: 1.8rem;
}


.icons a{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    font-family: 'Lexend Deca', sans-serif;
    padding: 5px;
    text-decoration: none;
    color: var(--sec-color);
}

.icons a:visited{
    color: var(--sec-color);
}

/* GALLERY */

.gallery-section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 3rem 3rem 0 3rem;
}

.filters{
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    background-color: var(--main-color);
    padding: 5px;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.filters .section-text{
    margin-left: 0.5rem;
}

.wrapper #select-all{
    margin-left: 0;
    cursor: pointer;
}

.gallery-category{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

.displaybox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.imgbox img{
    display: block;
    max-height: 12rem;
    width: auto;
    height: auto;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    background: var(--main-color);
}

.imgbox img:hover{
    background: var(--sec-color);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* MEDIA QUERIES */

@media all and (max-width: 768px){

    /* HEADER */

    .main-header{
        height: 15vh;
        justify-content: center;
    }

    .hd-icons{
        width: 100%;
        justify-content: space-between;
    }

    .hd-icons a{
        margin: 0;
    }

    .brand-name{
        display: none;
    }

    /* SECTION */

    .main-section{
        flex-direction: column;
    }

    .div-left{
        width: 100%;
        height: auto;
    }

    .icons{
        padding: 0;
    }

    .div-right{
        margin-top: 0.3rem;
        width: 100%;
        height: auto;
    }

    .div-right a{
        margin: 0.3rem 0;
    }

    /* GALLERY */

    .filters{
        display: block;
        width: 100%;
    }
    
    .gallery-category{
        margin-top: 1rem;
    }

    .wrapper{
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .gallery-section{
        margin-top: 1rem; 
    }

    .imgbox img{
        max-height: 10rem;
    }
}